In [ ]:
lst = [1,2,3,4]

In [ ]:
type(lst)

list

In [ ]:
lst

[1, 2, 3, 4]

In [ ]:
lst = [[1,2,3,4],
       [1,2,3,4],
       [1,2,3,4],
       [1,2,3,4]]

In [ ]:
lst

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
lst = [[[1,2,3], [4,5,6],[7,8,9]], 
       [[1,2,3], [4,5,6],[7,8,9]], 
       [[1,2,3], [4,5,6],[7,8,9]]]

In [ ]:
lst

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]]

In [ ]:
lsy

In [ ]:
lst = [[1,2,3,4],
       [5,6,7,8],
       [7,8,9,0]]

In [ ]:
lst

[[1, 2, 3, 4], [5, 6, 7, 8], [7, 8, 9, 0]]

In [ ]:
lst[0]

[1, 2, 3, 4]

In [ ]:
lst[2]

[7, 8, 9, 0]

In [ ]:
lst[1 : ]

[[5, 6, 7, 8], [7, 8, 9, 0]]

In [ ]:
lst = [[[1,2,3], [2,5,6],[3,8,9]], 
       [[4,2,3], [5,5,6],[6,8,9]], 
       [[7,2,3], [8,5,6],[9,8,9]]]

In [ ]:
lst[2][1]

[8, 5, 6]

In [ ]:
#      ['Roll', "Name"  ,"Eng","Sci","Hin","Math"],

lst = [[1,      "Rahul" ,  90 ,  85, 75, 70],
       [2,      "Jagrit",  99 ,  85, 80, 50],
       [3,      "Roshan",  33 ,  70, 85, 35]]

In [ ]:
roll_no = int(input("Enter a roll no: "))

for i in lst:
  if (roll_no == i[0]):
    print("Name:", i[1])
    print("Eng:",i[2])
    print("Sci:",i[3])
    print("Hin:",i[4])
    print("Math:",i[5])

    print(((i[2] + i[3] + i[4] + i[5]) / 400)*100)

Enter a roll no: 1
Name: Rahul
Eng: 90
Sci: 85
Hin: 75
Math: 70
80.0

In [ ]:
lst[1][0]

2

In [ ]:
lst[2][0]

3

In [ ]:
score = []

for i in lst:

  per = ((i[2] + i[3] + i[4] + i[5]) / 400)*100
  print(per)

  if (per < 100 and per > 90):
    grade = "A+"
  if (per < 89 and per > 79):
    grade = "A"
  if (per < 79 and per > 69):
    grade = "B+"
  if (per < 69 and per > 59):
    grade = "B"
  if (per < 59 and per > 49):
    grade = "F"

  score.append([i[0],i[1], per, grade])

80.0
78.5
55.75

In [ ]:
score

[[1, 'Rahul', 80.0, 'A'], [2, 'Jagrit', 78.5, 'B+'], [3, 'Roshan', 55.75, 'F']]