In [9]:
dct = { 1 : {'name' : 'ashish', "price": 12 , "qn": 32, "billi": 123 },
       2 : {'name' : 'ashish', "price": 12 , "qn": 32, "billi": 123 },
       3 : {'name' : 'ashish', "price": 12 , "qn": 32, "billi": 123 }}

In [14]:
dct[1]['qn'] = dct[1]['qn'] - 5

In [15]:
dct

{1: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 27},
 2: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 3: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32}}

In [38]:
if (1 in dct.keys()):
  print("Prod Exist")

  dct[1]['qn'] = dct[1]['qn'] + 50

else:
  print('dosnt exist')


  dct[1] =  {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32}

  
  print("New product added to inventory")

Prod Exist

In [39]:
dct

{1: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 77},
 2: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 3: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 432},
 4: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 132}}

In [40]:
import time

t = time.ctime()

In [41]:
t

'Sun Sep  5 14:35:10 2021'

In [44]:
dct[6] = {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32, 'ex_date' : t}

In [45]:
dct

{1: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 77},
 2: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 3: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 432},
 4: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 132},
 5: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 6: {'billi': 123,
  'ex_date': 'Sun Sep  5 14:35:10 2021',
  'name': 'ashish',
  'price': 12,
  'qn': 32}}

In [48]:
'1' in dct.keys()

False

In [47]:
dct

{1: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 77},
 2: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 3: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 432},
 4: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 132},
 5: {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32},
 6: {'billi': 123,
  'ex_date': 'Sun Sep  5 14:35:10 2021',
  'name': 'ashish',
  'price': 12,
  'qn': 32}}

In [51]:
dct = {1: {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}}

In [54]:
dct[1]['prod_id']

[1001, 1002, 1003]

In [55]:
ui_prod = []
ui_qn = []

for i in range(100):
  ui_prod.append(input("Enter prod ID: "))
  ui_qn.append(input("Enter prod QN: "))

  op = input("Y/N")

  if(op == "N"):
    break

Enter prod ID: 1001
Enter prod QN: 2
Y/NY
Enter prod ID: 1002
Enter prod QN: 2
Y/NY
Enter prod ID: 1003
Enter prod QN: 3
Y/NN

In [56]:
ui_prod

['1001', '2', '1002', '2', '1003', '3']

In [59]:
data = {'record': { 1 : {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}},
        

        'transection' : {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}}

In [61]:
data['record']

{1: {'name': ['cake', 'coffee', 'candy'],
  'price': [300, 50, 5],
  'prod_id': ['1001', '2', '1002', '2', '1003', '3'],
  'qn': []}}

In [63]:
data['transection']

{'name': ['cake', 'coffee', 'candy'],
 'price': [300, 50, 5],
 'prod_id': ['1001', '2', '1002', '2', '1003', '3'],
 'qn': []}

In [64]:
data

{'record': {1: {'name': ['cake', 'coffee', 'candy'],
   'price': [300, 50, 5],
   'prod_id': ['1001', '2', '1002', '2', '1003', '3'],
   'qn': []}},
 'transection': {'name': ['cake', 'coffee', 'candy'],
  'price': [300, 50, 5],
  'prod_id': ['1001', '2', '1002', '2', '1003', '3'],
  'qn': []}}